@import "../../../styles/mainStyle.scss";
.Button {
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: $radius-med;
    padding: 0.7rem 0.3rem!important;
    font-weight: bold;
    font-size: $font-med;
    // font-family: Rezvan;
    font-weight: 600;
    border: none;
    @include center;
    transition: all 0.2s linear;
    &:hover,
    &:active,
    &:focus {
        color: $color-danger!important;
        background-color: $color-white!important;
        border-radius: 0 !important;
    }
}

@media screen and (max-width: 576px) {
.Button{
    font-size: $font-small;

}
}