@import "../../styles/mainStyle.scss";
.Cart {
    position: relative;
    border-radius: 50% 50% 5% 5%;
    background-color: $color-orange;
    @include flexible;
    transition: 0.2s all linear;
    padding: 1rem;
}
.Cart_2 {
    position: relative;
    border-radius: 5% 5% 50% 50%;
    background-color: $color-orange;
    @include flexible;
    transition: 0.2s all linear;
    padding: 1rem;
}
