.Sidebar {
    position: sticky!important;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    top:5rem;
    width: 100%;
    max-height: 80vh;
    & .sidebarBorder {
        position: absolute;
        right: 20px;
        top: -15px;
        height: 90vh;
        border-right: black 2px solid;
        opacity: 0.5;
    }
}
