@import "../../../styles/mainStyle.scss";
.CategoryItems {
    margin: .5rem 1rem;
    padding-top: 0.5rem;
    width: 80%;
    padding: 0.5rem;
    transition: all 0.5s linear;

    & a {
        text-decoration: none;
        opacity: 0.5;
        font-size: $font-small;
        font-weight: bold;
        padding: 0.7rem;
        transition: all 0.2s linear;
        &:hover {
            color: $color-orange!important;
            opacity: 1;
        }
    }
}
.active {
    transition: all 0.2s linear;
    & a {
        color: $color-orange!important;
        opacity: 1;
    }
}
