@import "../../../styles/mainStyle.scss";
.container {
    position: relative;
    box-shadow: 0px 4px 10px #adacac;
    border-radius: $radius-med;
    transition: all 0.2s linear;
    box-sizing: border-box;
    height: 400px;
    max-height: 400px;
   
    // z-index: 100;
    overflow: hidden;

    &:hover {
        box-shadow: 4px 0px 10px #878787;
        border-radius: 0;
    }
}
.gallaryImage {
    position: relative;
    top: 0;
    border-radius: $radius-med $radius-med 0 0;
    overflow: hidden;
    &:hover {
        border-radius: 0%;
    }
    & .imageContainer {
        width: 100%;
        transition: all 0.2s linear;
        position: relative;
        cursor: pointer;

    }
    & .Image {
        text-align: center;
        margin: 0 auto;
        position: relative;
        border-radius: 30px;
        width: 150px;
        height: 150px;
    }
    & .imageOverlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $color-warning;
        overflow: hidden;
        width: 100%;
        height: 0;
        @include flexible;
        transition: 0.5s ease;
        opacity: 0.5;
        span {
            font-size: 30px;
            color: $color-dark;
        }
    }
    & .imageContainer:hover .imageOverlay {
        height: 100%;
    }
    & .imageContainer:active .imageOverlay {
        height: 100%;
    }
}
.HeartFill {
    width: 30px;
    height: 30px;
    color: $color-danger;

    z-index: 50;
    overflow: hidden;
    @include flexible;
    cursor: pointer;
    @include moveTop;
    & span {
        color: $color-danger;
        font-size: 20px;
        z-index: 50;
        @include center;
    }
}
.Heart {
    width: 30px;
    height: 30px;
    color: $color-danger;
    background-color: $color-white;
    z-index: 50;
    overflow: hidden;
    @include flexible;
    cursor: pointer;
    @include moveTop;
    & span {
        color: $color-danger;
        font-size: 20px;
        z-index: 50;
        @include center;
    }
}

.title {
    width: 100%;
    text-align: start;
    & h6 {
        font-size: $font-small;
        width: 200px;
        font-weight: bold;
    }
}
.cardInfo {
    width: 100%;
    height: 150px;
    padding: 0 2rem 0 1rem;
    cursor: pointer;

}
.description {
    width: 100%;
    text-align: start;
    margin-bottom: 1rem;
}
.totalInfo {
    @include felxBetween;
    align-items: center;
    margin-bottom: 0.5rem;
    margin-left: 0;
    justify-content: center;
    align-items: center;
}
.price {
    margin-top: 5px;
    margin: 0.5rem 1.4rem;
    & h6 {
        font-weight: 650;
    }
}
.mainStar {
    display: flex;
    justify-content: end;
    align-items: center;
    & h4 {
        font-size: $font-small;
        font-weight: bold;
        text-align: center;
        margin-right: 5px;
    }
    & .starIcon {
        color: decrease-color($color-warning, 100%);
        font-size: $font-med;
        margin-top: -7px;
        margin-right: 4px;
        @include flexible;
        cursor: pointer;
        @include moveTop;
    }
}
