@import "../../../styles/mainStyle";
.SearchItem {
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 1rem;

    & a {
        text-decoration: none;
        color: $color-dark;
        font-size: $font-small;
        font-weight: 600;

        &:hover {
            color: $color-orange;
            font-weight: 700;
        }
    }
}
@media screen and (max-width: 576px) {
    .SearchItem {
        & a {
            font-size: 14px;
        }
    }
}
