@import "../../../styles/mainStyle.scss";
.container {
    position: relative;
    top: 0;
    margin-top: -35px;
    margin: -35 auto 0;
    padding-top: 0;

    ::-webkit-scrollbar {
        width: 7px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #d7263d;
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #d7263d;
    }
}
.Form {
    position: absolute;
    border-radius: $radius-small;
    margin-top: 8px;
    & form {
        height: 45px;
        border-radius: $radius-small;
        padding: 5px;
        z-index: 550;
        & input {
            border: none;
            outline: none;
            background-color: transparent;
            text-align: start;
            width: 100%;
            margin-top: 3px;
            font-size: $font-small;
        }
        & span {
            font-size: 20px;
            align-items: center;
            transition: all 0.2s linear;
            font-weight: bold;
            &:hover {
                color: $color-danger;
                cursor: pointer;
            }
        }
        & .RemoveText {
            & span {
                animation: startAnimate 0.5s linear;
                opacity: 1;
            }
        }
    }
}

.formNoActive {
    background-color: $color-ligth;
    & .NavList {
        display: none;
    }
}
.FormActive {
    display: flex;
    flex-direction: column;
    height: 200px;
    max-height: 500px;
    animation: startBigger 0.1s linear;
    background-color: $color-white;
    z-index: 500;
    @include boxShadow;
    & .NavList {
        text-align: start;
        position: absolute;
        top: 4rem;
        height: auto;
        max-height: 130px;
        overflow-y: scroll;
        & ul {
            list-style: none;
            width: 100%;
        }
    }
    & .searchBorder {
        width: 80%;
        margin: 0 auto;
        height: 1px;
        background-color: $color-success;
        z-index: 500;
    }
}
@keyframes startAnimate {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes startBigger {
    0% {
        height: 50px;
    }
    100% {
        height: 200px;
    }
}
@media screen and (max-width: 990px) {
    .container {
        position: relative;
        top: -30px;
        margin-top: 0;
        margin: 0 auto 0;
        padding-top: 0;
    }
}
@media screen and (max-width: 576px) {
    .FormActive {
        position: fixed;
        top: 50px;
        left: 10%;
        height: 400px;
        width: 80%;
        margin: 0 auto;
        display: flex;
        max-height: 500px;
        animation: startBigger 0.1s linear;
        background-color: $color-white;
        z-index: 500 !important;
        @include boxShadow;

        & .NavList {
            text-align: start;
            position: absolute;
            max-height: 320px;
            width: 100%;

            & ul {
                list-style: none;
                width: 100%;
            }
        }
    }
}
