@import "../../styles/mainStyle.scss";
.container {
    box-shadow: 0px 4px 10px #adacac;
    border-radius: $radius-med;
    transition: all 0.2s linear;
    box-sizing: border-box;
    gap: 2px;
    &:hover {
        box-shadow: 4px 0px 10px #878787;
        border-radius:0;
    }
}
.gallaryImage {
    position: relative;
    top: 0;
    border-radius: $radius-med;
    z-index: 50;
    & Image {
        z-index: 50;
    }
}
.scrollIcon {
    color: $color-dark;
    font-size: $font-large;
    cursor: pointer;
    transition: all 0.2s linear;
    &:hover {
        transform: scaleX(2);
        transform: scaleY(1.2);
    }
}
.disable {
    color: $color-danger;
    opacity: 0.5;
    cursor: not-allowed;
    &:hover {
        transform: scaleX(2);
        transform: scaleY(1.2);
    }
}

.mainHeart {
    width: 25px;
    height: 25px;
    border: 2px solid $color-danger;
    background-color: $color-danger;
    border-radius: 50%;
    z-index: 40;
    overflow: hidden;
    @include flexible;
    cursor: pointer;
    @include moveTop;
    margin-top: 10px;
}
.heart {
    color: $color-white;
    font-size: 13px;
    z-index: 50;
    padding-bottom: 5px;
    padding-top: 0px;
    margin-top: 0px;
    @include center;
}

.title {
    & h4 {
        font-size: $font-med;
        font-weight: bold;
    }
}
.description {
    text-align: start;
    margin-bottom: 1rem;
}
.totalInfo {
    @include felxBetween;
    margin-bottom: 0.5rem;
}
.price {
    margin-top: 5px;
    & h6 {
        font-weight: 650;
        font-size: $font-small;
    }
}
.mainStar {
    display: flex;
    justify-content: end;
    align-items: center;
    & h4 {
        font-size: $font-small;
        margin-bottom: 0;
        font-weight: bold;
        margin-left: 5px;
    }
    & .starIcon {
        color: decrease-color($color-warning, 100%);
        font-size: $font-med;
        @include flexible;
        cursor: pointer;
        @include moveTop;
    }
}
