@import "./styles/mainStyle.scss";
@import './_fonts.scss';
@import './_classes.scss';
@import './base/_reset.scss';
html,
body {
    padding: 0;
    margin: 0;
    font-family: nasim, -apple-system, yekan, BlinkMacSystemFont, Segoe UI,
        Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
 
}
:root{
    ::-webkit-scrollbar {
        width: 10px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #d7263d;
        border-radius: 10px;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #d7263d;
    }
    ::selection {
        background: #c5d86d;
        color: #2e294e;
    }
}
a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}


