@import "../../styles/mainStyle.scss";
.MenuList {
    margin: 1rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    list-style: none;
    padding: 0.3rem;
}
.ListContainer {
    position: fixed;
    margin-left: 0;
    padding-left: 0;
    left: 0;
    top:50px;
    z-index: 200 !important;
    max-width: 250px;
    min-width: 200px;
    transition: transform 0.3s ease-out;
    height:500px;
    
    & .sideMenuList {
        position: relative;
        height:500px;
        z-index: 200 !important;
        margin-left: 0;
        padding-left: 0;
        list-style: none;
        transition: all 0.5s linear;
        background: decrease-color($color-ligth, 20%);
        border-radius: 0 $radius-med $radius-med 0;
        opacity: 1;
        animation: openMenu 0.5s linear;
        & li {
            height: 50px;
        }
    }
   
}
.Icon {   
    color: $color-orange;
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
    transition:all .2s linear;
    &:hover {
        color: $color-dark;
    }
}
.OpenMenuList{
    transform: translateX(0);
}
.CloseMenuList{
    transform: translateX(-100%);

}
@keyframes openMenu {
    from {
        left: -200px;
    }
    to {
        left:0;
    }
}
@keyframes closeMenu {
    from {
        left: 0;
    }
    to {
        left:-200px;
    }
}
.Cart {
    position: relative;
    border-radius: 50% 50% 5% 5%;
    background-color: $color-orange;
    @include flexible;
    transition: 0.2s all linear;
    & span {
        font-size: $font-small;
        color: $color-white;
        font-weight: bold;
        padding: 5px 5px 3px 3px;
        transition: 0.2s all linear;
        &:hover,
        &:active,
        &:focus {
            color: $color-dark;
        }
    }
    & .successBadge {
        position: absolute;
        top: -5px;
        right: -5px;
        border-radius: 50%;
        width: 20px;
        height: 22px;
        background-color: $color-white;
        align-items: center;
        transition: 0.2s all linear;
        display: flex;
        justify-content: center;
        align-items: flex-center;

        & p {
            color: black;
            width: 100%;
            height: 100%;
            font-size: 15px;
            padding: 2px 0 0 2px;
            align-items: center;
            font-weight: bold;
        }
    }
    & .dangerBadge {
        position: absolute;
        top: -5px;
        right: -5px;
        border-radius: 50%;
        width: 20px;
        height: 22px;
        background-color: $color-white;
        align-items: center;
        transition: 0.2s all linear;
        display: flex;
        justify-content: center;
        align-items: flex-center;
        & p {
            color: black;
            width: 100%;
            height: 100%;
            font-size: 15px;
            padding: 2px 0 0 2px;
            align-items: center;
            font-weight: bold;
        }
    }
    &:hover {
        box-shadow: 2px 2px 5px $color-dark;
    }
}
