@import "../../styles/mainStyle";

.MenuItem {
    padding: 1rem;
    & a {
        width: 100%;
        list-style: none;
        text-decoration: none;
        font-size: $font-small;
        font-weight: bold;
        transition: all 0.3s linear;
        font-family: sans-serif;
        color: black;
        &:hover,
        &:active {
            color: $color-orange!important; 
        }
    }
}
.active {
    & a {
        color: $color-orange!important;
    }
}
